<div class="container">
  <md-form-field>
    <input mdInput [mdDatepicker]="picker" [value]='datedebut' placeholder="Date debut">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
    <md-datepicker (selectedChanged)="selectedChanged($event)" #picker></md-datepicker>
  </md-form-field>
  <div [hidden]="chores">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <md-card class="list-card" *ngFor="let chore of chores | datefork:filterarg |datesort">
      <button md-raised-button class="btn" color="warn"><i class="material-icons">group_add</i> Participate</button>
    <md-card-header>

      <md-card-title>{{chore.properties.nom_corvee}} : {{chore.properties.arrondissement}}</md-card-title>
      <md-card-subtitle>{{chore.properties.date_debut_corvee | date}}  - {{chore.properties.date_fin_corvee | date}}</md-card-subtitle>

    </md-card-header>
    <md-card-content>
      <p>{{chore.properties.informations_supplementaires}}</p>
      <p>
          <span><i class="material-icons">people_outline</i> Nombre Max Participants  : {{chore.properties.nombre_max_participants}}</span>
        
        <span class="rightaligned"><i class="material-icons">group</i> Participants inscrits : {{chore.properties.nombre_participants_inscrits}}</span>
      </p>
    </md-card-content>


  
  </md-card>


</div>