<md-toolbar color="primary">
        <span>Montreal Clean Up Chores</span>
        <span class="fill-space"></span>
        <a md-button routerLink="/liste" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Liste</a>
        <a md-button routerLink="/carte" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Carte</a>
   </md-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="60px">

    <div fxFlex fxFlex.gt-sm="30%">
            <img src="/assets/images/cleaning-up.jpg" alt="Logo">
        </div>
    <div fxFlex fxFlex.gt-sm="70%">
        <p>We make you life easy to find activities to help your city to be cleaner. This is also a great way to support local communities and meet people who enjoy living in a nice and clean environment.</p>
        <p>Select activities based on your agenda or by browsing the proposed map. The source used to display this information is provided by the city of Montreal. Because there is no way of unifying registrations, the participate button is not operational, you will have to contact organisers to register. </p>
    </div>

</div>


