<md-toolbar color="primary">
        <span>Montreal Clean Up Chores</span>
        <span class="fill-space"></span>
        <a md-button routerLink="/liste" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Liste</a>
        <a md-button routerLink="/carte" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Carte</a>
   </md-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="60px">

    <div fxFlex fxFlex.gt-sm="40%">
            <img src="/assets/images/cleaning-up.jpg" alt="Logo">
        </div>
    <div fxFlex fxFlex.gt-sm="60%">
        <p>we help you find a way to find activities to support the community of people enjoying living in a clean environment</p>
    </div>

</div>


