<div [hidden]="chores">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]=10>
    <agm-marker *ngFor="let chore of chores"
    [latitude]="chore.properties.latitude" 
    [longitude]="chore.properties.longitude"

    >
    <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true">
      <ng-template>
        <md-card class="list-card">
          <md-card-header>
      
            <md-card-title>{{chore.properties.nom_corvee}} : {{chore.properties.arrondissement}}</md-card-title>
            <md-card-subtitle>{{chore.properties.date_debut_corvee | date}}  - {{chore.properties.date_fin_corvee | date}}</md-card-subtitle>
      
          </md-card-header>
          <md-card-content>
            <p>{{chore.properties.informations_supplementaires}}</p>
            <p>
                <span><i class="material-icons">people_outline</i> Nombre Max : {{chore.properties.nombre_max_participants}}</span>
              
              <span class="rightaligned"><i class="material-icons">group</i> Inscrits : {{chore.properties.nombre_participants_inscrits}}</span>
            </p>
          </md-card-content>
        </md-card>
      </ng-template>
      </agm-snazzy-info-window>
  </agm-marker>
  </agm-map>